{% extends 'layout/default.html' %} {% block body %}
<div ng-controller="DashboardController">
    <div class="row hidden-xs">
        <div class="page-header">
            <h2>대시보드</h2>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">대시보드</h3>
            </div>
            <div class="panel-body">
                준비중
            </div>
        </div>
    </div>
</div>
{% endblock %}