{% extends 'layout/auth.html' %} {% block content %}
<div ng-controller="ResetPasswordController">
    <div class="page-header">
        <h2>비밀번호 변경</h2>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% if error %}
            <uib-alert type="danger">{{ error }}</uib-alert>
            {% else %}
            <form role="form">
                <div class="form-group">
                    <label>새로운 비밀번호</label>
                    <input type="password" class="form-control" ng-model="user.password" ng-init="user.password = ''">
                </div>
                <div class="form-group">
                    <label>새로운 비밀번호 (확인)</label>
                    <input type="password" class="form-control" ng-model="user.confirmPassword" ng-init="user.confirmPassword = ''">
                </div>
                <uib-alert type="danger" ng-show="error">[[ error ]]</uib-alert>
                <button type="submit" class="btn btn-primary btn-block" ng-click="send()" ng-disabled="isSending">변경 완료</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
